/*//////////////////////////////////////////////////////////////////////////////////////////*/
/* COLOR CSS 1*/
/*//////////////////////////////////////////////////////////////////////////////////////////*/

a,
.color_primary,
.rtd ul > li:before,
.yamm .nav > li > a:hover,
.footer-list__link:hover,
.post_mod-a .entry-date,
.post_mod-c .entry-date,
.panel-default .panel-title,
.accordion .panel-heading .panel-active,
.breadcrumb > li .icon,
.list-courses__number,
.list-categories__link:hover .list-categories__name,
.list-categories__link:hover .list-categories__number,
.list-courses__meta .icon,
blockquote:before,
.about__title strong,
.reviews__text:before {color: #e84c3d;}


.bg-color_primary,
.btn-header,
.btn-primary,
.find-course__title,
.find-course .form-group {background-color: rgb(237,43,53);}

.btn-primary,
.header.sticky .navbar,
.staff .social-links li > a:hover {border-color: #e84c3d;}

.find-course_mod-a .form-group:after,
.staff:hover .staff__inner,
.post:hover .entry-main,
.nav-tabs > li {
	border-top-color: #e84c3d;
}
.find-course_mod-b .form-group:after {
	border-left-color:rgb(237,43,53);
}

a:hover, a:focus {
	text-decoration:underline;

}
.btn-primary {box-shadow: 0 4px 0 0 #941f12;}

.btn-primary:after {background-color: #941F12;}

.ip-header .ip-loader svg path.ip-loader-circle {
	stroke: #e84c3d;
}




/* TEXT COLOR */

.color, .sec-header p, .services .header .inner-icon, .services .text h3, .services:hover .header .fa-tablet, .services .text h3 a, .course .text h4, .course .course-name span, .student-form .header p, .course-tabs .nav-tabs > li.active i, .course-tabs .nav-tabs > li.active a, .course-topics .text h4, .course-topics .text span, .teachers .social-icons a, .teachers .text p, .post .post-date span, .post .icons ul li a, .post .text h5, .event-galley .text a, .lesson .text span, .next-course .text span, .testimonial-text a, .price-box .price-contant i, .price-box:hover .rate h2, .price-box:hover .rate p, .price-box:hover .price-contant p.striped, .price-box:hover .price-footer a, .widget-top-rated ul li .text span, .widget-posts ul li a, .widget-categories ul li a, .copyright a, .list-style1 li a:hover, .list-style2 li a:hover, .chart.easyPieChart, .blog-tags a:hover, .blog-contant h2 a:hover, .blog-comments a i, .pagination ul > li > a, .pagination ul > li > span, .widget-papular-post h4, .widget-papular-post ul li .text p.date span, .widget-twitter ul li a, .widget-twitter ul li:before, .sidebar .widget .inner h2, .top-courses h4, .top-courses h4 a, blockquote, .admin h2, .admin h2 a, .comments p.date, .event-vanue table tr td i, .text-detail ul li a, .data-tags a:hover, .features i, .tabs .nav-tabs > .active > a, .tabs .nav-tabs > .active > a:hover, .tabs .nav-tabs > .active > a:focus, .message-box h4, .faq-2 h3, .faq-2 .accordion-open p, .widget-slider h2, .course-topics .text h4 a, .search-result h1, .search-result a, .search-result a:hover, .teacher-profile .profile .title p, .teacher-profile .profile .detail, .error-404, .header-2 .navigation ul li a:hover, .header-2 .navigation ul ul li a, .header-5 .social-icons a, .edit-profile ul li:hover a, .editing table tr td a, .editing table tfoot tr td, .categories ul li a:hover, .related-courses ul li h4, .lesson-vid .text h4 a:hover, .subscribe-widget .or, .subscribe-widget a:hover, .questions p{
	color: #6BC868;
}
/* BACKGROUND COLOR */

.bg-color, .navigation ul li a:hover, a.return, .bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active, .newsletters .subscribe button, .services .text h3:before, .course .course-detail-btn a:hover, .form-data button, .teachers .social-icons a:hover, .teachers:hover .text, section.papular-post, .post .text .more, .box:hover, .price-footer a, .price-box:hover, .follow i, .widget-top-rated ul li .text span:before, .tweet-contant i, .newsletter-contant button, .faq .accordion-heading:hover, .our-skills .progress .bar, section.upcoming-events, .btn-style, .pagination ul > li > a:hover, .pagination ul > li > a:focus, .pagination ul > .active > a, .pagination ul > .active > span, .widget-flickr ul li, .the-best, .admin .social-icons a, .comments ul li:before, .comments ul ul:before, .widget-tags ul li a, .widget-tags ul li a:after, .data-tags a:before, .campaign .social-icons a:hover, .news-contant .thumb, .accordion-close span, .accordion-open span, .course .price, .widget-course-categories ul li a:hover, .course-detail, .gallery ul li, .gallery ul li:before, .teacher-profile .followers, .header-2, .header-2 .navigation-bar, .header-2 .navigation ul ul li a:hover, .navigation ul li:hover > a, .header-5 .social, .logout, .editing table thead, .course-price, .share-course ul li:hover a, .tutor-detail-section .text a.enroll, .lesson-vid .thumb, .teacher-listing ul li:hover, .teacher-courses table thead, .teacher-courses table tbody tr:hover, .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a, .header-6 {
	background-color: #6BC868;
}
/* BORDER COLOR */

.top-strip, textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus, .contant section.follow-us, .widget-papular-post ul li:hover, .events .event-header span, .faq-2 .accordion-open, .widget-course-categories, .widget-slider .thumb, .form-box, .share-course ul li:hover, .subscribe-widget {
	border-color: #6BC868;
}
