/* A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
 */

/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,caption,tbody,tfoot,thead,article,aside,canvas,details,embed,figure,figcaption,
,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */    
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body{
	font-family: 'Open Sans', sans-serif;
	background:#fff;
}
.wrap{
	width:80%;
	margin:0 auto;
	-moz-transition:all .2s linear;
	-webkit-transition:all .2s linear; 
	-o-transition:all .2s linear; 
	-ms-transition:all .2s linear;
}
.header-top{
	background:#576f6f;
	padding:8px 0 10px 0;
	display:none;
}
.header-top-left{
	float:left;
}
.header-top-left p{
	font-size:13px;
	color:#c8d8d7;
	padding-top:2px;
}
.header-top-right{
	float:right;
}
.header-top-right li:first-child{
	margin-left:0;
}
.header-top-right li{
	display:inline-block;
	margin-left:20px;
}
.header-top-right li a i{
	margin-right:3px;
}
.header-top-right li a{
	display:block;
	font-size:13px;
	color:#c8d8d7;
	-webkit-transition:all .3s;
       -moz-transition:all .3s;
	     -o-transition:all .3s;
	    -ms-transition:all .3s;
	        transition:all .3s;
}
.header-top-right li a:hover{
	color:#FFF;
	text-decoration:none;
}
/********** Login *************/
#loginContainer {
    position:relative;
}
#loginContainer a span{
  display:block;
}
/* Login Button */
#loginButton { 
    display:inline-block;  
    position:relative;
    z-index:30;
    cursor:pointer;
}
/* Login Box */
#loginBox {
    position:absolute;
    top:50px;
    right:-25px;
    display:none;
    z-index:9999;
     width:330px; 
    margin-top: 0px;
	background:#f1f1f1;
	border-bottom:4px solid #e0e0e0;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
}
#loginForm:after {
	content: '';
	position: absolute;
	right: 40px;
	top: -10px;
	border-left:10px solid rgba(0, 0, 0, 0);
	border-right:10px solid rgba(0, 0, 0, 0);
	border-bottom:10px solid #576f6f;
}
#loginForm{
	padding:8%;
}
/* Login Form */
.login-form h3{
	font-size:15px;
	color:#FFF;
	font-weight:bold;
	padding:15px;
	text-align:center;
	background:#576f6f;
	border-radius:5px 5px 0px 0px;
	-webkit-border-radius:5px 5px 0px 0px;
	-moz-border-radius:5px 5px 0px 0px;
	-o-border-radius:5px 5px 0px 0px;
}
.login-form span:first-child{
	margin-top:0;
}
.login-form span{
	background:#FFF;
	margin:15px 0;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -o-border-radius:5px;
    display:block;
    outline:none;
 }
 .login-form span i{
  background:#576f6f;
  padding:12px 8px 13px;
  border-radius:5px 0px 0px 5px;  	
  -webkit-border-radius:5px 0px 0px 5px;
  -moz-border-radius:5px 0px 0px 5px;
  -o-border-radius:5px 0px 0px 5px;
}
.login-form span i img{
	vertical-align:middle;
}
.login-form input[type="text"],.login-form input[type="password"]{
	padding:14px 10px;
    color:#c8d8d7;
    font-size:14px;
    font-weight:700;
    background:none;   
    outline:none;
    border:none;
    margin:0px auto;
    width:80%;  
    -webkit-apperance:none;
    font-family:'Open Sans', sans-serif;
    margin-left:5px;
}
.login-form input[type="password"]{
  letter-spacing:2px;	
}
 .login-form input[type="submit"] {
 	display:block;
	font-size:18px;
	font-weight:600;
	color:#FFF;
	text-transform:uppercase;
	padding:12px 0px;
	width:100%;
	background:#f28858;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	border:none;
	border-bottom:4px solid #b56642;
	transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-webkit-apperance:none;
	font-family:'Open Sans', sans-serif;
	outline:none;
}
.login-form input[type="submit"]:hover{
     background:#EC7945;
	border-bottom:4px solid #D1612E;
}
.login-form input[type="submit"]:active{
	position:relative;
	bottom:-2px;
}
.logo img{
	display:block;
}
.navbar-brand{
	height:inherit;
	padding:5px 0;
	line-height:inherit;
}
.menu{
	float:right;
	padding:0;
}
.nav-bg{
	background:-webkit-linear-gradient(#03b9fa,#019ed5);
	background:-o-linear-gradient(#03b9fa,#019ed5);
	background:-moz-linear-gradient(#03b9fa,#019ed5);
	background:linear-gradient(#03b9fa,#019ed5);
	
	margin-bottom:0;
}
.menu li:first-child{
	margin-left:0;
}
.menu li{
	margin-left:5px;
}
.menu > li > a{
	font-size:14px;
	color:#000;
	font-weight:700;
	display:block;
	padding:30px 14px;
	margin:0px 10px;
	/*border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;*/
}
.navbar-inverse .navbar-nav > li > a{
	color:#fff;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus,.navbar-inverse .navbar-nav>.active>a{
	background:#fff;
	border-top:3px solid #fca000;
	box-shadow:none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	-o-box-shadow:none;
	color:#000;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{
	background-color:#fff;
	color:#000;
}
.menu li a:hover{
	background:#cd8757;
	border-top:3px solid #fca000;
	padding:30px 14px;
	margin:0px 10px;
	display:block;
}
.navbar-toggle{
	margin-top:16px;
	border:none;
}
.header-banner{
	position:relative;
	background:#FFA500;
}
.big-arrow{
	background: url("../images/big-arrow.png") no-repeat center bottom;
	display:block;
	padding:50px 0;
	margin-top:-1px;
}
.carousel-control{
	width:inherit;
	top:46%;
	opacity:1;
	display:inline-table;
	text-shadow:none;
}
.left-arrow span,.right-arrow span{
	padding:5px 10px 5px 10px;
	background: #02B5F5;
	font-size: 40px;
	
	border-bottom:4px solid #019ED6;
	transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
}
.left-arrow span,.right-arrow span:hover{
	text-decoration:none;
	background:#02B5F5;
	border-bottom:4px solid #019ED6;
}
.left-arrow span{
	border-radius:0px 8px 8px 0px;
	-webkit-border-radius:0px 8px 8px 0px;
	-moz-border-radius:0px 8px 8px 0px;
	-o-border-radius:0px 8px 8px 0px;
}
.right-arrow span{
	border-radius:8px 0 0 8px;
	-webkit-border-radius:8px 0 0 8px;
	-moz-border-radius:8px 0 0 8px;
	-o-border-radius:8px 0 0 8px;
}
.left-arrow span:active,.right-arrow span:active{
	position:relative;
	bottom:-2px;
}
.carousel{
	padding:2% 0 0 0;
	height:inherit;
	margin-bottom:0;
}
.banner-img{
	text-align:right;
}
.banner-desc h2{
	color:#FFF;
	font-size:25px;
	font-weight:700;
	text-transform:uppercase;
	padding:15px;
	background:#8c9796;
	margin-bottom:30px;
	display:inline-block;
	border-radius:2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	-o-border-radius:2px;
	border-bottom:4px solid #b6bfb6;
}
.banner-desc li{
  display:block;	
}
.banner-desc li span i{ 
  	margin-right:5px;
}
.banner-desc li span{
	font-size:15px;
	color:#FFF;
	font-weight:bold;
	text-transform:uppercase;
	padding:10px;
	background:#8c9796;
	margin-top:10px;
	display:inline-block;
	border-radius:1px;
	-webkit-border-radius:1px;
	-moz-border-radius:1px;
	-o-border-radius:1px;
	border-right:3px solid #b6bfb6;
	box-shadow:0px 5px 10px #b6bfb6;
	-webkit-box-shadow:0px 5px 10px #b6bfb6;
	-moz-box-shadow:0px 5px 10px #b6bfb6;
	-o-box-shadow:0px 5px 10px #b6bfb6;
}
.see-features a{
	display:inline-block;
	font-size:20px;
	font-weight:600;
	color:#FFF;
	text-transform:uppercase;
	padding:15px 30px;
	background:#02B5F5;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	margin-top:20px;
	border-bottom:4px solid #019ED6;
	transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
}
.see-features a:hover{
	text-decoration:none;
	background:#EC7945;
	border-bottom:4px solid #D1612E;
}
.see-features a:active{
	position:relative;
	bottom:-2px;
}
.features{
	margin-top:2em;
	text-align:center;
}
.main h2{
	font-size:22px;
	color:#f28858;
	font-weight:700;
	text-transform:uppercase;
	margin:8px 0;
	text-align:left;
}
.features h2{
	font-size:22px;
	color:#f28858;
	font-weight:700;
	text-transform:uppercase;
	margin:15px 0;

}
.features p{
	font-size:15px;
	line-height:1.6em;
	padding:5px 0;
	width:85%;
	margin:0 auto;
}
.features1 p{
	/*color:#687170;*/
	font-size:15px;
	line-height:1.6em;
	padding:5px 0;
	width:85%;
	margin:0 auto;
	text-align:justify;
}
.features a.read-more,.support a.read-more{
	display:inline-block;
	color:#FFF;
	font-size:16px;
	font-weight:600;
	padding:12px 35px;
	background:#02B5F5;
	border-bottom:4px solid #019ED6;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	text-decoration:none;
	text-transform:uppercase;
	transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	margin-top:10px;
}
.features a.read-more:hover{
	background:#ec7945;
	border-bottom:4px solid #d1612e;
}
.features a.read-more:active,.support a.read-more:active{
	position:relative;
	bottom:-2px;
}
.support a.read-more{
	background:#f28858;
	border-bottom:4px solid #b56642; 
	padding:8px 35px;
	font-size:16px;
	margin-top:12px;
}
.support a.read-more:hover{
	background:#EC7945;
	border-bottom:4px solid #D1612E;
}
.support{
	background:#f5f5f5;
	padding:15px 10px;
	margin:8% 0;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-moz-border-radius:5px;
}
.support h2{
	font-size:30px;
	color:#7f8c8c;
	font-weight:700;
	text-transform:capitalize;
	margin:0;
}
.support p{
	color:#687170;
	font-size:15px;
	line-height:1.6em;
	padding:5px 0;
}
.list-performance ul{
	margin-left:10px;
}
.list-performance li{
	display:block;
	font-size:15px;
	color:#687170;
	margin:10px 0;
}
.list-performance li i{
	margin-right:5px;
	color:#77a1a0;
	font-size:13px;
}
.progress {
	height:30px;
	margin-top: 0;
	margin-bottom: 0;
	overflow: hidden;
	background:#f5f5f5;
	z-index: 1;
	cursor: pointer;
	border-radius:0;
	box-shadow:none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
}
 .progress .bar {
		z-index: 2;
		height:30px; 
		text-align: center;
		float:left;
		-webkit-box-sizing: content-box;
		-moz-box-sizing: content-box;
		-ms-box-sizing: content-box;
		box-sizing: content-box;
		-webkit-transition: width 0.6s ease;
		  -moz-transition: width 0.6s ease;
		  -o-transition: width 0.6s ease;
		  transition: width 0.6s ease;
}
.bar {
   background-color:#c8d8d7;
}
.list-performance ul.progress-bars{
	margin-left:0;
}
.list-performance ul.progress-bars li{
	margin:15px 0;
}
.clients {
	margin-top:5%;
}
.clients h2{
	text-align:center;
	color:#c8d8d7;
	background:#FFF;
	padding:20px 0 30px 0;
	margin:0;
	border-radius:0px 0px 50px 50px;
	-webkit-border-radius:0px 0px 50px 50px;
	-moz-border-radius:0px 0px 50px 50px;
	-o-border-radius:0px 0px 50px 50px;
}
.testimonials{
	background:#f28858;
	padding:1.5% 0;
}
.testimonials h3{
	font-size:16px;
	color:#FFF;
	font-weight:600;
	text-transform:uppercase;
	margin:15px 0;
}
.testimonials p{
	color:#f3ddd4;
	font-size:13px;
	font-style:italic;
	line-height:1.8em;
	width:80%;
	margin:0 auto;
}
.testimonials-news{
	background:#f28858;
}
.news{
	padding:1% 0;
	background:#FFF;
	border-radius:50px 50px 0px 0px;
	-webkit-border-radius:50px 50px 0px 0px;
	-moz-border-radius:50px 50px 0px 0px;
	-o-border-radius:50px 50px 0px 0px;
}
.news-grid{
	background:#FFF;
	border:1px solid #f2f2f2;
	width:32%;
	padding:0;
	text-align:center;
	border-bottom:4px solid #e0e0e0;
	border-radius:10px;
	-webkit-border-radius:10px;
	-o-border-radius:10px;
	-moz-border-radius:10px;
	float:left;
}
.news-grid img{
	max-width:100%;
	display:block;
	width:100%;
	border-radius:10px 10px 0px 0px;
	-webkit-border-radius:10px 10px 0px 0px;
	-moz-border-radius:10px 10px 0px 0px;
	-o-border-radius:10px 10px 0px 0px;
}
.news-grid-middle{
 margin:0 2%;	
}
.news-grid h2{
	margin:25px 0 10px 0;
	font-size:20px;
}
.news-grid p{
	font-size:13px;
	
	line-height:1.6em;
}
.news-grid a.read-more{
	font-size:12px;
	color:#77a1a0;
	font-style:italic;
	margin:15px 0;
	display:inline-block;
	text-transform:lowercase;
	font-weight:600;
}
.news-desc-bottom p{
	color:#9a9a9a;
	font-size:11px;
	font-style:italic;
}
.news-desc-bottom p.left{
	float:left;
}
.news-desc-bottom p.right{
	float:right;
}
.news-desc{
	padding:5%;
	position:relative;
}
.news-desc-bottom{
	border-top:1px solid #f2f2f2;
	padding-top:15px;
}
.image-icon{
	position:absolute;
	left:43%;
	top:-12px;
}
.image-icon span{
	padding:15px;
	background:#02B5F4;
	border-radius:2em;
	-webkit-border-radius:2em;
	-moz-border-radius:2em;
	-o-border-radius:2em;
}
.image-icon span i{
	vertical-align:middle;
	color:#FFF;
	font-size:23px;
}
.footer{
	background:#FFA500;
	padding:0% 0 1% 0;
	position:relative;
}
.footer-arrow{
	background: url("../images/footer-arrow.png") no-repeat center bottom;
	display:block;
	padding:50px 0;
}
.footer h2{
	font-size:18px;
	color: #FFF;
	font-weight:600;
	text-transform: uppercase;
	margin: 20px 0;
}
.footer p{
	font-size:13px;
	color:#FFF;
	line-height:2em;
	width:70%;
}
.links{
	margin-top:15px;
}
.links li{
	display:inline-block;
	color:#f1cdbc;
	font-size:13px;
	text-transform:uppercase;
	font-weight:600;
}
.links li a{
	color:#f1cdbc;
	transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
}
.links li a:hover{
	color:#FFF;
}
.products-list ul{
	float:left;
	width:50%;
}
.products-list li:first-child a{
	margin-top:0;
}
.products-list li a{
	display:block;
	font-size:14px;
	color:#f1cdbc;
	text-transform:uppercase;
	font-weight:700;
	margin-top:10px;
	text-decoration:none;
}
.products-list li a:hover{
	color:#FFF;
}
.products-list li a i{
	color:#c8d8d7;
}
.subscribe{
	margin-top:30px;
}
.subscribe input[type="text"]{
	padding:10px;
	font-size:14px;
	color:#222;
	border:2px solid #fa6734;
	width:60%;
	display:inline-block;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-o-border-radius:3px;
	margin-right:5px;
	outline:none;
}
.subscribe input[type="submit"]{
	font-size:14px;
	color:#FFF;
	text-transform:uppercase;
	font-weight:bold;
	background: #77a1a0;
	padding:10px 7%;
	border: none;
	outline:none;
	border-bottom: 4px solid #576f6f;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	vertical-align:bottom;
}
.subscribe input[type="submit"]:hover{
	 background:#598F8E;
   	  border-bottom:4px solid #3B6969;
}
.subscribe input[type="submit"]:active{
	position:relative;
	bottom:-2px;
}
.footer-bottom{
	background:#E58B30;
	padding:1% 0;
	bottom:0;
	position:relative;
	width:100%;
}
.copy-right{
	float:left;
}
.copy-right p{
	font-size:13px;
	color:#FFF;
	font-weight:bold;
	text-transform:uppercase;
	padding-top:8px;
}
.copy-right p a{
	color:#f1cdbc;
	text-decoration:underline;
}
.copy-right p a:hover{
	text-decoration:none;
	color:#FFF;
}
.social-icons{
	float:right;
}
.social-icons li{
	display:inline-block;
}
.social-icons li a{
	width:30px;
	height:30px;
	background:#FFF;
	display:block;
	border-radius:2em;
	-webkit-border-radius:2em;
	-moz-border-radius:2em;
	-o-border-radius:2em;
	text-align:center;
	color:#b56642;
	transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
}
.social-icons li a:hover{
	color:#FFF;
	background:#f28858;
}
.social-icons li a i{
	vertical-align:-webkit-baseline-middle;
}
.about-desc{
	margin:2em 0;
}
.about-desc p{
	font-size:14px;
	
	padding:5px 0;
	line-height:1.8em;
	text-align:justify;
}
.partners{
	border-radius:0;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	-o-border-radius:0;
}
.partners img{
	width: inherit;
	margin:0 auto;
	margin-top:1em;
	border-radius:2em;
	-webkit-border-radius:2em;
	-moz-border-radius:2em;
	-o-border-radius:2em;
}
.partners h2{
	margin:0px 0 10px 0;
}
.poducts{
  margin-top:3em;	
}
.poducts h2{
	margin:5px 0;
}
.products-row2{
	margin-top:3em;
}
.support2{
	margin:4% 0;
}
.clients2{
	margin-top:0;
}
.solutions{
	margin:4% 0;
}
.contact_right{
	background:#f1f1f1;
	padding:5%;
}
ul.contact_info {
	padding: 0;
	list-style: none;
	margin: 0;
}
ul.contact_info li{
	margin:1em 0;
}
ul.contact_info li i{
	float:left;
	margin-right:15px;
	font-size:25px;
	color:#ACACAC;
}
ul.contact_info li span{
	float:left;
}
ul.contact_info span {
	color:#ACACAC;
	font-size:14px;
	font-weight:700;
	line-height: 1.6em;
}
ul.contact_info span.msg a {
	color:#ACACAC;
}
ul.contact_info span.msg:hover{
	text-decoration:underline;
}
.contact-form_grid {
	text-align: center;
}
.contact-form_grid input[type="text"],.contact-form_grid textarea {
	display: block;
	width: 99%;
	padding:12px;
	outline: none;
	font-size: 14px;
	font-weight:bold;
	color: #D6D5D5;
	background: #FFF;
	border: none;
	border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	-o-border-radius: 0.3em;
	margin-bottom:1em;
	font-family:'Open Sans', sans-serif;
}
.contact-form_grid input[type="text"]:focus,.contact-form_grid textarea:focus {
	color:#ADADAD;
}
 .contact-form_grid textarea {
	height:170px;
	resize:none;
}
.contact-form_grid input[type="submit"] {
	display:block;
	font-size:18px;
	font-weight:600;
	color:#FFF;
	text-transform:uppercase;
	padding:12px 0px;
	width:100%;
	background:#f28858;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	border:none;
	border-bottom:4px solid #b56642;
	transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	-webkit-apperance:none;
	font-family:'Open Sans', sans-serif;
	outline:none;
}
.contact-form_grid input[type="submit"]:hover {
	 background:#EC7945;
	 border-bottom:4px solid #D1612E;
}
.contact-form_grid input[type="submit"]:active {
  position:relative;
  bottom:-2px;
}
/***** 404 ****/
.page-not-found{
	text-align:center;
	color: #353434;
}
.page-not-found h4{	
	font-size:5em;
	text-shadow: 1px 1px 1px #FFF, 2px 2px 1px #888;
	text-transform:uppercase;
}
.page-not-found h3{
	font-size: 12em;
	text-shadow: 1px 1px 1px #FFF, 3px 2px 1px #888;
	font-weight:bold;
}
/*--responsive design--*/
@media (max-width:1366px){
	.wrap{
		width:90%;
	}

}
@media (max-width:1280px){
	.wrap{
		width:90%;
	}
	
}
@media (max-width:1024px){
	.wrap{
		width:90%;
	}
	.banner-desc h2{
		font-size:20px;
		margin-bottom:15px;
	}
	.features h2{
		margin:0;
	}
	.features p{
		width:100%;
	}
	.features a.read-more, .support a.read-more{
		margin-top:0;
	}
	 .col-lg-4{
	 	margin-top:20px;
		width:33%;
		float:left;
	 }
	 .partners img{
	 	width:150px;
	 }
	 .testimonials p{
	 	width:100%;
	 }
}
@media (max-width:768px){
	.wrap{
		width:90%;
	}
	.menu > li > a{
		padding:8px 10px;
	}
	.footer p{
		width:100%;
	}
}
@media (max-width:640px){
	.wrap{
		width:90%;
	}
  .menu{
  	float:none;
  	padding:0;
  }
  .menu li{
  	margin-left:0;
  	margin-top:2px;
  }
  .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav>.active>a{
  	border-bottom:none;
  }
  .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
  	border-color:#E05F25;
  }
  .news-grid{
  	width:92%;
  	float:none;
  	margin:0 auto;
  }
  .news-grid-middle{
  	margin:15px auto;
  }
  .copy-right,.social-icons{
  	float:none;
  	text-align:center;
  }
  .social-icons{
    margin-top:10px;	
  }
  .big-arrow{
  	margin-top:-50px;
  }
  .footer-arrow{
  	margin-bottom:-50px;
  }
}
@media (max-width:480px){
	.wrap{
		width:95%;
	}
	.row{
		margin:0;
	}
	.banner-desc h2{
		font-size:16px;
		margin-bottom:5px;
	}
	.banner-desc li span{
		font-size:13px;
		margin-top:5px;
		padding:5px;
	}
	.products-list ul{
		float:none;
		width:100%;
	}
	.page-not-found h4{
		font-size:2em;
	}
	.page-not-found h3{
		font-size:5em;
	}
}
@media (max-width:320px){
	.wrap{
		width:98%;
	}
	.header-top-right li{
		margin-left:5px;
	}
	.header-top-right li a,.header-top-left p{
		font-size:11px;
	}
	.banner-desc h2{
		padding:8px;
		font-size:13px;
	}
	.see-features a{
		font-size:16px;
		padding:10px 20px;
		margin-bottom:10px;
	}
	.subscribe input[type="text"]{
		width:100%;
	}
	.header-top-left p{
		padding-top:5px;
	}
	.header-top{
		padding:5px 0;
	}
	.big-arrow{
		margin-top:-75px;
	}
	.footer-arrow{
		margin-bottom:-75px;
	}
	.features{
		margin-top:0;
	}
	.support h2{
		font-size:20px;
	}
	.clients h2{
		padding:10px 0;
		font-size:15px;
	}
	.testimonials h3{
		margin:0;
	}
	.about-desc{
		margin:0;
	}
	.main h2{
		margin:10px 0;
	}
	ul.contact_info li span{
		width:82%;
	}
	#11{float:left;
	width:30%;}
}


#dvLoading

{
 position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 9999;
        background: url('images/loader.gif') 50% 50% no-repeat rgb(249,249,249);
}

 
/*/ ** admin page **/

