

.search_promo {
    max-width: 900px;
    margin: 40px auto;
}

.search_promo input {
    height: 55px;
    border: 0px;
    border-radius: 3px;
    color: #8c8c8c;
    font-size: 18px;
    font-weight: 300;
    padding: 0px 20px;
}
.search_promo input:focus, .btn_cat button:focus, .btn_promo_search button:focus, .input-group-btn {outline: none; box-shadow: none;}
.search_promo .btn_cat button span {
    color: #322F44;
    font-size: 16px;
    display: block;
    overflow: hidden;
    padding: 10px 0px;
}
.search_promo .btn_cat button span .caret {
    padding: 0px;
    display: block;
    float: none !important;
    position: absolute;
    top: 14px;
    right: 15px;
}
.btn_cat {
    width: 200px;
}

.btn_cat button {
    display: block;
    width: 100%;
    height: 55px;
    border-radius: 3px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    box-shadow: none;
    background: #FFFFFF;
    text-align: left;
    color: #322F44;
    font-size: 15px;
    font-weight: 300;
    padding: 0px 20px 0px 10px;
    border-left: 1px solid #E5E5E5;
}

.btn_cat button i {
    padding-right: 10px;
    font-size: 16px;
    color: #322F44;
}
.btn_cat button:hover {
    background: #F2F2F2;
    color: #5b5b5b;
    border-left: 1px solid #F2F2F2;
    border-bottom-right-radius: 3px;
}
.btn_cat.open button.dropdown-toggle i, .btn_cat.open button.dropdown-toggle .caret {
    color: #ffffff;
}
.btn_cat button .caret {
    color: #322F44;
    float: right;
    margin-top: 12px;
}

.btn_promo_search {}

.btn_promo_search button {
    height: 55px;
    padding: 0px 50px;
    font-size: 18px;
    margin-left: 30px !important;
    border-radius: 3px !important;
}



/*Insert btn*/
.place_dd {
    width: 200px;
    margin-top: -1px;
    background: #e84c3d;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border: 0px;
    height: 200px;
    overflow: hidden;
    overflow-y: scroll;
}
.place_dd li {
}
.place_dd li a {
    padding: 10px 15px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 300;
}
.place_dd li a i {
    margin-right: 15px;
    color: #ffffff;
}
.place_dd li a:hover {
    background: #ffffff;
    color: #e84c3d;
}
.place_dd li a:hover i {
    color: #e84c3d;
}


#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}
.header-bar
{
position: relative;
width: 100%;
background: #fff;
z-index: 3;
box-shadow: 0 1px 2px #ccc;
}
nav{}

nav ul
{
list-style:none; 
}

nav ul li
{
float:right;
padding-left: 8%;
border-radius: 4px;
height: 36px;
font-weight: bold;
line-height: 1.5;
color: #5d5d5e;
text-shadow: none;
}

nav ul li a:hover
{background-color:#ccc;
 border-radius:5%;
 height: 36px;
 padding:18%;}
 
/* colored box*/
 .colored-box
 {
    background-color:#e84c3d; 
    font-size: 10px;
    padding: 45px 0px;
}
/* serach results */

.searchresults{}

.searchresults ul
{
list-style:none; 
}

.searchresults ul li
{


border-radius: 4px;

font-weight: bold;
line-height: 1.5;
color: #5d5d5e;
text-shadow: none;
margin-top:5%;
border-top:1px solid #eee;

}

.searchresults ul li a:hover
{background-color:#ccc;


}

footer{
width:100%;
background-color:#333333;
color:#FFFFFF;
padding:2%;
}




.colored-box
 {
    background-color:#e84c3d; 
    font-size: 30px;
    padding: 25px 0px;
	color:#fff;
}
.card-box{
background-color: white;
box-shadow: 1px 1px 8px 2px rgb(204, 204, 204);
margin: 1%;
}
.course-box .reviews-row {
    background: none !important;
}
.s-rating.static {
    margin-left: -2px;
    margin-right: 2px;
}
.s-rating {
    position: relative;
    white-space: nowrap;
    display: inline-block;
}
.s-rating.smaller::before, .s-rating.smaller s {
    font-size: 15px;
}
.s-rating.static::before {
    font-family: 'FontAwesome';
    content: "\2009\f005\2009\2009\f005\2009\2009\f005\2009\2009\f005\2009\2009\f005\2009";
    color: #aaa;
    font-size: 20px;
    line-height: 1;
    letter-spacing: -0.5px;
}
.s-rating.static span {
    position: absolute;
    left: 0;
    overflow: hidden;
	width: 93.7946%;
}
.s-rating.smaller span::before {
    font-size: 15px;
}
.s-rating.static span::before {
    color: #17aa1c;
}
.pl10 {
    padding-left: 10px;
}
.mh36 {
    min-height: 36px;
}
.promotion .price {
    font-size: 15px;
    font-weight: bold;
}
.course-box .price {
    font-size: 15px;
    font-weight: bold;
}
.course-box .price {
    float: left;
    font-size: 15px;
    font-weight: bold;
}
course-box .mask {
    color: #353535;
    font-size: small;
}
\
